.container {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 1;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ebdcc7;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.svg {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

