/* .priceBlock {
    background: var(--color-bg-light);
} */

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.note {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

.light {
    background-color: var(--color-bg-light);
}

.dark {
    background-color: var(--color-bg-dark);
}
