.wrapper {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.image {
    width: 88px;
    height: auto;
    object-fit: cover;
}

.text {
    font-size: clamp(18px, 1.667vw, 32px);
    letter-spacing: 0.64px;
}

@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
        gap: 25px;
    }

    .card {
        gap: 20px;
    }

    .image {
        width: 40px;
    }

    .text {
        letter-spacing: 0.36px;
    }
}