.headerWrapper {
  height: 900px;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  color: white;
}

.tabletTopHeader {
  display: none;
}

.mobileButtonWrapper {
  display: none;
}

.mobileTitleWrapper {
  display: none;
}

.topHeaderWrapperOverlay {
  position: relative;
  z-index: 2;
  background-color: rgba(12, 83, 59, 0.3);
  width: 100%;
  padding: 20px 0;
}

.topHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-menu);
  font-size: 20px;
}

.nav ul li {
    transition: all 0.3s ease;
}

.nav ul li:hover {
  transform: scale(1.1);
}

.socials {
  display: flex;
  gap: 20px;
}

.socialWrapper {
  transition: all 0.3s ease;
}

.socialWrapper:hover {
  transform: scale(1.1);
}

.socialIcon {
  aspect-ratio: 1/1;
  width: 40px;
  height: auto;
}

.textBlock {
  margin-top: 160px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(12, 83, 59, 0.2);
  border-radius: 30px;
  padding: 20px;
}


.textBlock h1 {
    font-family: var(--font-heading);
    font-weight: 600;
    color: #E3CC9D;
    font-size: 64px;
    line-height: 1.2;
    font-size: clamp(24px, 5vw, 64px);
}

.titleSpan {
  color: #DFBA7A;
  display: block;
}

.btn {
  background-color: transparent;
  border: 2px solid #DFBA7A;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 13px 70px;
  width: auto;
  align-self: center;
  font-size: 20px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #DFBA7A;
}

/* Фоны */
.homeBg {
  background-image: url('/src/assets/images/Banners/Home/home-desktop.webp');
}

.mastersBg {
  background-image: url('/src/assets/images/Banners/Masters/masters-desktop.webp');
}

.servicesBg {
  background-image: url('/src/assets/images/Banners/Services/services-desktop.webp');
}

.roomsBg {
  background-color: var(--color-dark-green);
}

/* Бургер меню */
.burgerButton {
  width: 40px;
  height: 40px;
  background-color: #041F34;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

/* Общие стили для всех полос */
.burgerButton span {
  position: absolute;
  left: 9px;
  right: 9px;
  height: 2px;
  background-color: var(--color-golden);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Верхняя линия */
.burgerButton span:nth-child(1) {
  top: 12px;
}

/* Средняя линия */
.burgerButton span:nth-child(2) {
  top: 19px;
}

/* Нижняя линия */
.burgerButton span:nth-child(3) {
  top: 26px;
}

/* --- Открытое состояние --- */

.burgerButton.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 19px;
}

.burgerButton.open span:nth-child(2) {
  opacity: 0;
}

.burgerButton.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 19px;
}

.burgerMenu {
  width: 100%;
  background-color: var(--color-dark-green);
  padding: 20px 0;
  position: relative;
  z-index: 5;
  transition: all 0.3s ease;
  border-top: 1px solid var(--color-golden);
  border-bottom: 1px solid var(--color-golden)
}

.burgerNav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.burgerNav li {
  margin: 10px 0;
}

.burgerNav a {
  color: var(--color-white);
  font-size: 18px;
  font-family: var(--font-menu);
  text-decoration: none;
}

@media (max-width: 1600px) {
    .headerWrapper {
      height: 700px;
    }
    .textBlock {
      margin-top: 100px;
    }
}

@media (max-width: 1200px) {
    .headerWrapper {
      height: 600px;
    }
    .textBlock {
      margin-top: 60px;
      width: 40%;
    }
}

@media (max-width: 920px) {
    .homeBg {
      background-image: url('/src/assets/images/Banners/Home/home-tablet.webp');
    }
    .mastersBg {
      background-image: url('/src/assets/images/Banners/Masters/masters-tablet.webp');
    }
    .servicesBg {
      background-image: url('/src/assets/images/Banners/Services/services-tablet.webp');
    }
    .headerWrapper {
      display: flex;
      align-items: center;
    }
    .tabletTopHeader {
      display: block;
      background-color: var(--color-dark-green);
      height: 90px;
      padding: 20px 0;
    }
    .logoImg {
      height: 50px;
    }
    .socialIcon {
      width: 40px;
    }
    .topHeaderWrapperOverlay {
      display: none;
    }
    .textBlock {
      margin-top: 0;
      padding: 40px 0;
    }
    .btn {
      padding: 13px 30px;
      width: 90%;
    }
}

@media (max-width: 769px) {
  .textBlock {
    display: none;
  }
  .mobileTitleWrapper {
    padding: 10px 0;
    display: block;
    background-color: var(--color-dark-green);
  }
  .mobileTitle {
    text-align: center;
    color: #E3CC9D;
    line-height: 1.2;
  }
  .mobileTitleSpan {
    color: #DFBA7A;
  }
  .mobileButtonWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-dark-green);
    padding: 20px 60px;
  }
  .btn {
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .headerWrapper {
      max-height: 350px;
    }
  .socialIcon {
    width: 30px;
  }
  .logoImg {
    width: 40px;
  }
  .mobileButtonWrapper {
    padding: 20px 10px;
  }
  .btn {
    width: 100%;
  }
}