.container {
    background: url('../../assets/images/ErrorPage/error-bg.png') center / cover no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.textWrapper {
    max-width: 429px;
    border-radius: 20px;
    background: #B58D56;
    padding: 20px 15px;
    position: absolute;
    right: 15%;
    top: 2%;
    animation: slideInText 1.2s ease-out 2s forwards;
    opacity: 0;
}

.textWrapper:after {
    content: '';
    background: url("../../assets/icons/triangle.svg") center / cover no-repeat;
    position: absolute;
    bottom: -25px;
    right: 90px;
    width: 30px;
    height: 25.5px;
}

.text {
    color: #000;
    text-align: center;
    font-family: var(--font-info);
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.48px;
}

.image {
    position: absolute;
    right: -400px;
    animation: slideIn 2s ease-out forwards;
    bottom: 0;
    width: 500px;
    aspect-ratio: 1/1.5;
}

.button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 23px 27px;
    border-radius: 20px;
    border: 1px solid #DFBA7A;
    background: #0F231A;
    color: #DDB565;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.button:hover {
    background: #333;
}

@keyframes slideInText {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        right: -400px;
        opacity: 0;
    }

    to {
        right: 20px;
        opacity: 1;
    }
}