.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5%;
}

.textBlock {
    flex: 1;
    max-width: 35vw;
    order: 0;
}

.textBlock h2 {
    margin-bottom: 60px;
}

.text {
    padding-top: 20px;
    padding-bottom: 30px;
}

.imageWrapper {
    flex: 1;
    max-width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    order: 1;
}

.aboutImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mobileTitle {
    display: none;
    order: 0;
}

@media (max-width: 1024px) {
    .aboutContainer {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .mobileTitle {
        display: block;
        width: 80%;
        text-align: left;
        margin: 0 auto;
        order: 1;
    }

    .imageWrapper {
        max-width: 90%;
        order: 2;
    }

    .textBlock {
        max-width: 100%;
        text-align: left;
        order: 3;
    }

    .textBlock h2 {
        display: none;
    }
}

@media (max-width: 800px) {

    .textBlock,
    .imageWrapper {
        max-width: 80%;
    }

    .imageWrapper {
        margin: 0 auto;
    }

    .text {
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .aboutContainer {
        gap: 20px;
    }

    .imageWrapper {
        max-width: 80%;
        margin: 0 auto;
    }

    .textBlock {
        max-width: 100%;
    }
}