.aboutContainer {
    display: flex;
    align-items: flex-start;
    gap: 5%;
    flex-wrap: wrap;
}

.textBlock {
    flex: 1;
    max-width: 35vw;
    order: 1;
}

.textBlock h2 {
    margin-bottom: 60px;
}

.text {
    padding-bottom: 30px; 
    padding-top: 20px;
}

.imageWrapper {
    flex: 1;
    max-width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    order: 2;
}

.aboutImage {
    width: 100%;
    height: auto;
    object-fit: cover; }

@media (max-width: 1024px) {
.aboutContainer {
    flex-direction: column;
    align-items: center;
}
    
.imageWrapper {
    max-width: 90%;
    order: 2;
}
    
.textBlock {
    max-width: 100%;
    order: 3;
    text-align:left;
}     
}

@media (max-width: 800px) {
    .aboutContainer {
        flex-direction: column;
        gap: 40px;
    }

    .textBlock,
    .imageWrapper {
        max-width: 80%;
    }

h2 {
    order: 1;
    text-align: left;
}

.imageWrapper {
    order: 2;
    max-width: 80%;
    margin: 0 auto;
}
    
.textBlock {
    order: 3;
    max-width: 100%;
}

.text {
    padding-bottom: 10px;
}
}

@media (max-width: 767px) {
    .aboutContainer {
        flex-direction: column;
        gap: 20px;
    }

    .imageWrapper {
        max-width: 80%;
        margin: 0 auto;
    }

    .textBlock {
        max-width: 100%;
    }
}