    .aboutContainer {
        display: flex;
        align-items: flex-start;
        gap: 5%;
        flex-wrap: wrap;
    }

    .imageWrapper {
        flex: 1;
        max-width: 55vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        order: 2;
    }

    .aboutImage {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .textBlock {
        flex: 1;
        max-width: 35vw;
        order: 3;
    }

    .textBlock h2 {
        margin-bottom: 60px;
    }

    .text {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .mobileTitle {
        display: none;
    }

@media (max-width: 1024px) {
    .aboutContainer {
        flex-direction: column;
        align-items: center;
    }

    .imageWrapper {
        max-width: 90%;
        order: 2;
    }

    .textBlock {
        max-width: 100%;
        text-align: left;
        order: 3;
    }

    .mobileTitle {
        display: block;
        width: 80%;
        text-align: left;
        margin: 0 auto;
        order: 1;
    }

    .textBlock h2 {
        display: none;
    }
}

@media (max-width: 800px) {
    .aboutContainer {
        flex-direction: column;
        gap: 40px;
    }

    .textBlock,
    .imageWrapper {
        max-width: 80%;
    }

    .imageWrapper {
        order: 2;
        margin: 0 auto;
    }

    .textBlock {
        order: 3;
    }

    .text {
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .aboutContainer {
        gap: 20px;
    }

    .imageWrapper {
        max-width: 80%;
        margin: 0 auto;
    }

    .textBlock {
        max-width: 100%;
    }
}